<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/5a4a1dffe9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>eib // Ana Sayfa </title>
</head>
<body>
<header>
    <a href="/" class="brand">
        <img th:src="@{/assets/logos/logo_eib.png}" alt="logo">
    </a>

    <input type="checkbox" id="menu-toggle" class="menu-toggle-checkbox">
    <label for="menu-toggle" class="burger-menu-icon">
        <i class="fa fa-bars"></i>
    </label>

    <nav class="main-nav">
        <!--megabar-->
        <div class="dropdown megamenu">
            <button class="dropbtn">Kurumsal<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=AF8E694AB3" target="_blank">Tarihçe</a>
                <a href="https://upload.eib.org.tr/ZZFAF3F52D/51D36F765F064E51D36F765F064E51D36F765F064E51D36F76.pdf" target="_blank">Kanun ve Yönetmelik</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=8E7D6D0DE5" target="_blank">İK ve Kalite Politikamız</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=657203BBB5" target="_blank">Başkanlar Kurulu</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=F4C0D7701D" target="_blank">Organizasyon Şeması</a>
                <a href="https://upload.eib.org.tr/ZZFAF3F52D/D0613FBBD72544D0613FBBD72544D0613FBBD72544D0613FBB.pdf" target="_blank">Stratejik Planlama</a>
                <a href="https://upload.eib.org.tr/E4B1FF80EE0E4FE4B1FF80EE0E4FE4B1FF80EE0E4FE4B1FF80.pdf" target="_blank">Dijital Dönüşüm Strateji Belgesi</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=7587630301" target="_blank">Kişisel Verilerin Korunması</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=3E3A8B409A" target="_blank">Bilgi Güvenliği Politikamız</a>
            </div>
        </div>
        <!--megabar-->
        <div class="dropdown megamenu">
            <button class = "dropbtn">Birliklerimiz<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=7BFC10E422&0E253920222D0D2F2F=7E7D7A" target="_blank">Demir Demir Dışı</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=CC53782AC1&0E253920222D0D2F2F=7E7C78"target="_blank">Deri ve Deri Mamülleri</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=9EA08DCCEC&0E253920222D0D2F2F=7E7C7A"target="_blank">Hazır Giyim ve Konfeksiyon</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=5A0E8C0DB6&0E253920222D0D2F2F=7E7C7D"target="_blank">Hububat, Bakliyat, Yağlı Tohumlar ve Mamulleri</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=F665790D72&0E253920222D0D2F2F=7E7D7E" target="_blank">Kuru Meyve</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=9E73B68C3E&0E253920222D0D2F2F=7E7C72" target="_blank">Maden</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=9AD0D7EE11&0E253920222D0D2F2F=7E7C73" target="_blank">Mobilya, Kağıt ve Orman Ürünleri</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=87EC4141E9&0E253920222D0D2F2F=7E7C7C"target="_blank">Su Ürünleri ve Hayvansal Mamuller</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=6C9D062EB4&0E253920222D0D2F2F=7E7C79" target="_blank">Tekstil ve Hammadeleri</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=3A25DD62E2&0E253920222D0D2F2F=7E7D7C"target="_blank">Tütün</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=1C53994AE5&0E253920222D0D2F2F=7E7C7E"target="_blank">Yaş Meyve ve Sebze</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=048316B87B&0E253920222D0D2F2F=7E7D7F"target="_blank">Zeytin, Zeytinyağı</a>
            </div>
        </div>
        <div class="dropdown">
            <button class = "dropbtn">Faaliyetlerimiz<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=F5E6712A40"target="_blank">Etkinlik Takvimi</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=19D5285AC0"target="_blank">Fuar ve Heyetler</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=409047FC00"target="_blank">URGE'lerimiz</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=E235AFFDD2"target="_blank">AB Destekli Projemiz</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=9B0C2025E8"target="_blank">Tasarım Yarışmaları</a>
            </div>
        </div>
        <!--megabar-->
        <div class="dropdown megamenu">
            <button class = "dropbtn">Bilgi Merkezi<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="/announcement"><b><i>Duyurular</i></b></a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=983739A9F9" target="_blank">Bilgi Notları</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=F34CD6608B" target="_blank">Pan Avrupa Akdeniz Menşe Kümülasyon Sistemi - PAAMK</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=0BE0BA5206" target="_blank">İhracatta Öne Çıkanlar</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=22EDC7370A" target="_blank">Sınırda Karbon Düzenleme Mekanizması</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=930E151205"target="_blank">Üyelik İşlemleri</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=FF448434C5" target="_blank">Hususi Damgalı (Yeşil) Pasaport</a>
                <a href="https://devletyardimlari.eib.org.tr/"target="_blank">İhracat Destekleri</a>
                <a href="https://surdurulebilirlik.eib.org.tr/"target="_blank"><img src="https://surdurulebilirlik.eib.org.tr/Assets/img/logo_eib_surdur_03.png" alt="Sustainability" style="height: 32px; width: auto; display: block;"></a>
                <a href="https://blog.eib.org.tr/"target="_blank"><img src="https://blog.eib.org.tr/images/Logo.webp" alt="EIB Blog" style="height: 32px; width: auto; display: block;">
</a></a>
                <a href="/faq" target="_blank">Sıkça Sorulan Sorular</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=13211B74F9" target="_blank">Dünya'da Gümrük Vergileri</a>
                <a href="https://distalep.ticaret.gov.tr/giris/?next=/" target="_blank">Dış Talepler Bülteni</a>
                <a href="https://www.eib.org.tr/eimza/KarsilamaMenusu01.Asp"target="_blank">E-İmza Portalı</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=B61E5DDA6F" target="_blank">Bize Ulaşın</a>
            </div>
        </div>
        <div class="dropdown">
            <button class = "dropbtn">Basın Odası<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=5A02DF31AF" target="_blank">Bültenler</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=674F8CDA05" target="_blank">Logolar</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=5FAC49A9BB"target="_blank">Fotoğraf Bankası</a>
                <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=9F220F0E16" target="_blank">Basında Biz</a>
            </div>
        </div>
    </nav>

    <div class="header-right">
        <ul class="lang-switch">
            <li>
                <a href="https://en.eib.org.tr/" class="language" target="_blank">
                    <img src="https://upload.eib.org.tr/ZZFAF3F52D/0951E8341782430951E8341782430951E8341782430951E834.png" alt="English">
                </a>
            </li>
            <li>
                <a href="https://cn.eib.org.tr/" class="language" target="_blank">
                    <img src="https://upload.eib.org.tr/ZZFAF3F52D/E0AEDF68AA014FE0AEDF68AA014FE0AEDF68AA014FE0AEDF68.png" alt="中文">
                </a>
            </li>
        </ul>
        <span class="header-divider"></span>
        <a href="https://uye.eib.org.tr/?747873097A=7E787F787F&1803000D=7E74737E7F757B787E&0F7D0E7B73=0F787D7B0A" class="kolay-link" target="_blank">
            <img th:src="@{/assets/logos/logo_eib_kolay.png}" alt="EİB Kolay">
        </a>
    </div>
</header>
<main>
    
   <div>
       <h1>Sıkça Sorulan Sorular</h1>
   </div>
    <div>
        <details>
            <summary>İhracatçı Birliği'ne üye olmak zorunlu mudur?</summary>
            <p>Evet. İhracat Yönetmeliği’nin 5.maddesi gereğince; İhracat işleminin başlaması için ihracatçıların gümrük beyannamelerini İhracatçı Birlikleri’ne onaylatmaları gerekmektedir. Beyannamenin onaylanabilmesi için de ilgili İhracatçı Birliği’ne üye olunması gerekmektedir.</p>
        </details>
        <details>
            <summary>İhracatçı Birliği'ne nasıl üye olunur?</summary>
            <p>Faaliyet gösterdiğiniz sektöre (vergi levhanızda yer alan ana faaliyet alanı ve kodu – NACE) göre …… adresinde yer alan belgelerle birlikte en yakın İhracatçı Birliğine üyelik için başvurabilirsiniz. Genel Sekreterliğimiz bünyesinde ….adresinde yer alan 12 Birlik faaliyet göstermekte olup; faaliyet alanınızın farklı bir sektör olması durumunda ilgili İhracatçı Birliği ile irtibata geçmeniz uygun olacaktır.</p>
        </details>
        <details>
            <summary>Birlik üyelik aidatı ne kadar?</summary>
            <p>İhracatçı Birliklerince iki çeşit aidat tahsil edilmektedir:</p>
            <p>Giriş aidatı: üyelik sırasında tahsil edilen 200.-TL’lik tutardır. Giriş aidatı ödenen yıl, ayrıca yıllık aidat alınmaz.</p>
            <p>Nispi aidat: İhracat işlemleri üzerinden FOB bedelin binde birine kadar tahsil edilir. Hizmet ihracatında nispi ödeme tahsil edilmez.</p>
        </details>
        <details>
            <summary>İhracatıma ilişkin gümrükleme işlemlerini kendim yapabilir miyim?</summary>
            <p>İşlemlerin doğrudan temsil yoluyla sağlıklı bir şekilde yapılabilmesi için en az aşağıdakiler gereklidir.</p>
            <ol>
                <li>Gümrük ve dış ticaret mevzuatını sürekli takip edip yorumlayabilen , yeterli bilgi ve tecrübeye sahip bir yönetici</li>
                <li>Veri giriş işlemlerini yapabilecek seviyede bilgi ve tecrübeye sahip bir dış ticaret personeli</li>
                <li>İşlem yapılan gümrük sayısı kadar personel ve araç</li>
                <li>Gümrükleme programı</li>
            </ol>
            <p>Gümrükleme işlemlerinin firma personelince yapılması çoğunlukla daha maliyetli ve daha riskli olacağından çoğu firma tarafından dolaylı temsil tercih edilmektedir.</p>
        </details>
        <details>
            <summary>Kırmızı / Sarı / Mavi/ Yeşil hat nedir?</summary>
            <p><b>Kırmızı hat;</b> eşyanın muayenesi ile birlikte belge kontrolünün de yapıldığı hattır.s</p>
            <p><b>Sarı hat;</b> muayeneye gerek görülmeksizin eşyaya ait beyanname ve eklerinin doğruluğunun ve birbiriyle uygunluğunun kontrol edildiği hattır.</p>
            <p><b>Mavi hat;</b> Bakanlıkça belirlenen onaylanmış kişi statüsüne sahip kişilerin ihracatta yararlandığı, eşyanın çıkış işlemlerinin tamamlanmasından önce belge kontrolüne veya muayeneye tabi tutulmadığı hattır. Mavi hatta işlem gören ihracat beyannamelerine ilişkin beyanın kontrolü, eşyanın çıkış işlemlerinin tamamlanmasını müteakip Bakanlıkça belirlenen usul ve esaslar dâhilinde gerçekleştirilir.</p>
            <p><b>Yeşil hat;</b> eşyanın belge kontrolüne veya muayeneye tabi tutulmadığı hattır.</p>
        </details>
        <details>
            <summary>Mikro İhracat nedir?</summary>
            <p>300kg ve 15000 € limitine kadar ETGB (Elektronik Ticaret Gümrük Beyanı) ile yurtdışı edilen bedelli ihracatlardır.</p>
        </details>
        <details>
            <summary>Mikro ihracat için İhracatçı Birliği üyeliği/onayı gerekli midir? </summary>
            <p>Hayır, gerekli değildir.</p>
        </details>
        <details>
            <summary>“Rusya Federasyonu’na Bitki Sağlığı Açısından Yüksek Risk Taşıyan Ürünleri İhraç Edecek Türk Firmalar Listesi” uygulaması hala devam ediyor mu?</summary>
            <p>Hayır devam etmiyor. Artık firmalar listeye girmeye gerek kalmadan, ilgili tedbirler ve üretim şartları kontrol edilerek istedikleri zaman ihracat yapabilirler.</p>
            <p>İlgili link: <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=24D6DDB6AC" target="_blank">Buraya tıklayınız.</a></p>
        </details>
        <details>
            <summary>Kuru Meyve Haftalık İhracat İstatistikleri ne zaman güncellenir?</summary>
            <p>Her hafta Cumartesi günü sistemden çekilen ihracat rakamlarında ayın son haftası sistemin kapanması nedeniyle aksama yaşanabiliyor. Pazartesi günü öğleden sonra veya Salı günü gün içerisinde güncellemeler tamamlanıyor.</p>
        </details>
        <details>
            <summary>İhracatta sağlanan vergisel teşvikler nelerdir?</summary>
            <ul>
                <li><b>İhracatta KDV İstisnası</b></li>
                    <p>İster imal edilsin ister ticari mal olarak alınmış olsun bu malların ihraç edilmesi durumunda söz konusu teslimler için yurt dışı alıcılara düzenlenecek faturalar KDV Kanunun (11/1-a) maddesine göre KDV den istisna olacaktır. Dolayısı ile bu teslimler için alıcılardan KDV tahsil edilmeyecektir.</p>
                    <p>Teslimin ihracaat sayılabilmesi için;</p>
                    <ol>
                        <li>Teslim, yurtdışındaki bir müşteriye veya serbest bölgedeki alıcıya veya gümrüksüz satış mağazalarında satılmak üzere bu mağazalara veya bunların depolarına ya da yetkili gümrük antreposu işleticisine yapılmalı veya mallar yetkili gümrük antreposu işleticisine bırakılması ve</li>
                        <li>Teslim konusu mal Türkiye Cumhuriyeti gümrük bölgesinden çıkarak bir dış ülkeye veya bir serbest bölgeye varması ya da gümrüksüz satış mağazalarında satılmak üzere bu mağazalara veya bunların depolarına veya yetkili gümrük antreposuna konulması</li>
                    </ol>
                    <p>Şartlarının ikisinin de gerçekleşmesi gerekmektedir.</p>
                <li><b>KDV İadesi</b></li>
                    <p>İhracat teslimleri KDV’den istisna olduğu için KDV Kanununun 32. Maddesine göre ihracat işlemleri ile ilgili fatura ve benzeri vesikalarda gösterilen Katma Değer Vergisi, mükellefin vergiye tabi işlemleri üzerinden hesaplanacak Katma Değer Vergisinden indirilir. Vergiye tabi işlemlerin mevcut olmaması veya hesaplanan verginin indirilecek vergiden az olması hallerinde indirilemeyen Katma Değer Vergisi, işlemin gerçekleştiği dönemi izleyen ikinci takvim yılının sonuna kadar talep edilmesi şartıyla Maliye ve Gümrük Bakanlığınca tespit edilecek esaslara göre bu işlemleri yapanlara iade olunur. Söz konusu teslimlere ilişkin yüklenilen KDV lerin mükelleflere iadesi mümkündür.</p>
                <li><b>DV ve Harç İstisnası</b></li>
                    <p>488 Saylı Damga Vergisi Kanunu’nun ek 2. Maddesi ve 492 Sayılı Harçlar Kanunu’nun ek 1. Maddesine göre;</p>
                    <p>İhracat ve ihracata ilişkin olduğunun belgelenmesi kaydıyla aşağıda yer alan işlemler nedeniyle düzenlenen kâğıtlar (gümrük idarelerine verilen beyannameler dâhil) damga vergisi ve harçlardan müstesnadır.</p>
                    <ul>
                        <li>İhracat karşılığı yapılacak ödemeler</li>
                        <li>İhracattan doğan alacağın ihracatçı tarafından temliki</li>
                        <li>İhracat bağlantıları için düzenlenecek anlaşmalar</li>
                        <li>Transit ticarete konu malın satın alınması ve satılması</li>
                        <li>Tedarik edildikleri şekliyle ihraç edilmek üzere mal alımı</li>
                        <li>27/10/1999 tarihli ve 4458 sayılı Gümrük Kanununun 131 inci maddesine istinaden ithalat vergilerinden tam muafiyet suretiyle geçici ithalat rejimine tabi ambalaj malzemesi ithali ile kati ihraç edilen mallara ait ambalaj malzemesinin geçici ihracı ve ithali.</li>
                        <li>Dahilde işleme izni kapsamında iznin geçerli olduğu süre içerisinde yapılan ithalat.</li>
                        <li>Dahilde İşleme İzin Belgesi kapsamında belgenin geçerli olduğu süre içerisinde yapılan ithalat veya yurt içi alımlar.</li>
                        <li>Gerçekleştirilen mamul ürün ihracatı karşılığı olarak bu ürünlerin üretiminde kullanılan girdilerin Toprak Mahsulleri Ofisinden veya Şeker Kurumunca tespit edilen şeker fabrikalarından alımı</li>
                    </ul>
                <li><b>Kurumlar Vergi İstisnası</b></li>
                    <p>İhracata yönelik yatırım ve üretimi teşvik etmek, doğrudan yabancı yatırımları ve teknoloji girişini hızlandırmak, işletmeleri ihracata yönlendirmek ve uluslararası ticareti geliştirmek amacıyla serbest bölgeler kurulmuştur.</p>
                    <p>3218 Sayılı Serbest Bölgeler Kanununun geçici 3 üncü maddesinin birinci fıkrasının (a) bendi uyarınca, 6/2/2004 tarihine kadar (bu tarih dahil) serbest bölgelerde faaliyette bulunmak üzere faaliyet ruhsatı almış mükelleflerin, ruhsatlarında belirtilen süre ile sınırlı olmak üzere bölgelerde gerçekleştirdikleri faaliyetler dolayısıyla elde ettikleri kazançlar kurumlar vergisinden istisnadır. Bununla birlikte bu bölgelerde üretilen ürünlerin FOB bedelinin en az %85’ini yurt dışına ihraç eden mükelleflerin istihdam ettikleri personele ödedikleri ücretler üzerinden asgari geçim indirimi uygulandıktan sonra hesaplanan gelir vergisi, verilecek muhtasar beyanname üzerinden tahakkuk eden vergiden indirilmek suretiyle terkin edilir.</p>
            </ul>
        </details>
    </div>
    <div>
        <h3>Daha fazla sorunuz var mı?</h3>
        <div>
            <a href="https://www.eib.org.tr/Sayfa.Asp?SI_Id=B61E5DDA6F">Bize Ulaş</a>
        </div>
    </div>


</main>
<footer>
    <div class="footer-box">
        <h3>Ege İhracatçı Birlikleri</h3>
        <div class="footer-stores">
            <a href="https://play.google.com/store/apps/details?id=com.eib_project">
                <img src="https://upload.eib.org.tr/868B47CB99F447868B47CB99F447868B47CB99F447868B47CB.png" alt="Google Play'de edinin">
            </a>
            <a href="https://itunes.apple.com/tr/app/ei-b-ege-i-hracat%C3%A7%C4%B1-birlikleri/id1236779122?l=tr&mt=8">
                <img src="https://upload.eib.org.tr/476F20C302214A476F20C302214A476F20C302214A476F20C3.png" alt="App Store'dan indirin">
            </a>
        </div>
        <div class="footer-social">
            <a href="https://x.com/egeihracatci" class="social-icon social-icon--x" aria-label="X">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/company/10862137" class="social-icon social-icon--linkedin" aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/egeihracatci/" class="social-icon social-icon--instagram" aria-label="Instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/EgeIhracatciBirlikleriEib" class="social-icon social-icon--youtube" aria-label="YouTube">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="https://www.facebook.com/egeihracatci" class="social-icon social-icon--facebook" aria-label="Facebook">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
        </div>
    </div>
    <div class="footer-box">
        <div class="footer-box-link">
            <h4>Faydalı Linkler</h4>
            <ul>
                <li><a href="">Nasıl Üye Olurum</a></li>
                <li><a href="">Yeşil Pasaport</a></li>
                <li><a href="">Etkinlik Takvimi</a></li>
                <li><a href="/announcement">Duyurular</a></li>
                <li><a href="">Bize Ulaşın</a></li>
            </ul>
        </div>
        <div class="footer-box-contact">
            <h4>İletişim</h4>
            <p>Atatürk Cad No: 382 Alsancak İzmir</p>
            <p><b>Tel: </b><i style="text-decoration-line: underline;"><a href="tel:02324886000">02324886000</a></i></p>
            <p><b>Email: </b><i>eib@eib.org.tr</i></p>
        </div>
    </div>
</footer>
<script th:src="@{/script.js}"></script>
</body>
</html>
